/* styles for index.html */
*{
    text-align: center;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.mobile_navbar, .mobile_hero_page, .mobile_brands_sec{
    display: none;
}

/* Hero Page */

.navbar{
    height: 100px;
    width: 100vw;
    display:flex;  
    flex-direction: row; 
    align-items: center;
    background-color: rgb(239,243,244);
}

.navLogo{
    width: 20%;
}

.navLogo img{
    height: 28px;
    width: 170px;
    margin-right: 60px;
}

.navEmpty{
    display: inline-block;
    width: 10%;
}

.navOptions{
    display: flex;
    width: 38%;
    font-weight: 590;
    color: rgb(75,76,83);
    justify-content: space-evenly;
}

#navOptions_item{
    color : rgb(60,96,113)
}

.navButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 25%;
}

/* Button Css changed */

button{
    all:unset;
    height: 50px;
    width: auto;
    font-weight: 590;
    margin-inline: 10px;
    padding-inline: 30px;
    border-radius: 30px;
    white-space: nowrap;
}

.light_button{
    color:rgb(72,73,78);
    background-color: #fff;
}

.dark_button{
    color:#fff;
    background-color: rgb(9,44,66);
}

/* Hero Page Description */

.hero_page{
    background-color: rgb(239,243,244);
    height: 700px;
    display: flex;
    flex-direction: row;
}

.hero_desc{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_heading{
    font-size: 60px;
    font-weight: 600;
    color:rgb(15,16,22);
    
}

.hero_description{
    color:rgb(68,70,76);
    font-size: 20px;
    padding:10px 30px 10px 30px;
    font-weight: 350;
}

.hero_buttons{
    display: flex;
    padding:10px 30px 10px 30px;
    margin-top: 30px;
}

.button_another{
    color: rgb(9,43,64);
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.play_button{
    font-size: 36px;
    margin-right: 10px;
}

.text1{
    font-size: 20px;
}

.hero_pic_grp1{
    width: 25%;
    display:flex ;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#icon1{
    height: 40px;
    width: 40px;
    margin: 20px;
}

#icon2{
    height: 120px;
    width: 80px;
    margin: 20px;
}

#icon3{
    height: 150px;
    width: 100px;
    margin: 20px;
}

.hero_pic_grp2{
    width: 25%;
    display:flex ;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.hero_pic_grp21{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
#icon4{
    font-size: 36px;
    color:rgb(23,93,238);
    margin: 20px;

}

#icon5{
    font-size: 24px;
    background-color:rgb(251,0,6);
    color:#fff;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brands_sec{
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-evenly;
}

.text2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand_sec_imgs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.brand_img{
    
    width: auto;
    height: 40px;
    margin-inline: 16px;
    flex-wrap: wrap;
}


@media (max-width:400px){
    .navbar, .hero_page, .brands_sec{
        display: none;

    } 

    .mobile_navbar{
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        margin: 10px;
    }

    .mobile_hero_page{
        display: flex;
        flex-direction: column;
        background-color: rgb(239,243,244);

    }

    .mobile_hero_heading{
        font-size: 26px;
        margin: 50px;
        font-weight: 600;
    }

    .mobile_hero_buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button{
        margin: 20px;
    }

    .mobile_hero_img{
        display: flex;
        height: auto;
        justify-content: center;
        margin-block: 40px;
    }

    .mobile_brands_sec{
        display: block;
        margin-block: 20px;
    }

    .mobile_brand_sec_imgs{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-block: 20px;
        
    }

    .mobile_brand_img{
        height: 36px;
        max-width: auto;
        margin: 10px;
    }
}